<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />
    <title>People Counter</title>
  </head>
  <body>
    <nav
      class="navbar navbar-light"
      style="
         background-image: linear-gradient(
          to bottom,
          rgb(184, 179, 179),
          rgb(255, 255, 255)
        );
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="sheep" src="static/images/sheep.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            People Counter
          </a>
      </div>
    </nav>
    <div class="container-daddy">
      <img  class="container-bg" src="static/images/bg2.jpg" alt=""/>
    <div class="container">
      <div class="row frame video-cont" >
        <div style="display: inline-block;">
          <h2 style="font-size: 1rem;">First Select the the Number of crossing lines u want  then select orientaion of lines <br>Note : if more than  1 lines is chossen then both should have same orientaion <br> After Selecting Orientaion plese click on proceed </h2>
            <form action='/config_rec' method='post'>
                <select style="margin :10px" onClick="selected()" name="Selections" class="form-select" aria-label="Default select example" id="lines">
                  <option selected value="0">Select Number of Crossing Lines</option>
                    <option  value="1">1</option>
                    <option value="2">2</option>
                    
                  </select> 
                  <select style="margin :10px" name="orientation" class="form-select" aria-label="Default select example" id="orientation">
                    <option selected value="0">Select orientation</option>
                      <option  value="1">Horizontal ALL</option>
                      <option value="2">Vertical ALL</option>
                    </select> 
                  <div id="line-container">

                  </div> 
                  <button style="margin :10px" type="submit" class="btn btn-primary mb-3">Proceed</button>
            </form>
        </div>
        
        
      </div>
    </div>
    </div>
    <div class="footer">
      <div class="container">
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </h2>
        <div class="p-div">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
            bibendum neque egestas congue quisque egestas. Odio tempor orci
            dapibus ultrices in iaculis nunc. Faucibus interdum posuere lorem
            ipsum dolor. Amet commodo nulla facilisi nullam vehicula ipsum a
            arcu cursus. Egestas erat imperdiet sed euismod nisi. Est
            ullamcorper eget nulla facilisi. Iaculis urna id volutpat lacus
            laoreet non. Sit amet consectetur adipiscing elit. Nisl vel pretium
            lectus quam id leo in. Neque egestas congue quisque egestas diam in
            arcu. Convallis tellus id interdum velit laoreet id donec.
          </p>
          <img src="static/images/machine-learning.png" width="20%"/>
        </div>
      </div>
    </div>
    <div class="p-div">
        <img src="static/images/20945401.jpg" width="20%"/>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
          bibendum neque egestas congue quisque egestas. Odio tempor orci
          dapibus ultrices in iaculis nunc. Faucibus interdum posuere lorem
          ipsum dolor. Amet commodo nulla facilisi nullam vehicula ipsum a
          arcu cursus. Egestas erat imperdiet sed euismod nisi. Est
          ullamcorper eget nulla facilisi. Iaculis urna id volutpat lacus
          laoreet non. Sit amet consectetur adipiscing elit. Nisl vel pretium
          lectus quam id leo in. Neque egestas congue quisque egestas diam in
          arcu. Convallis tellus id interdum velit laoreet id donec.
        </p>
        
      </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
        function selected(){
        var numberOfLines=document.getElementById("lines").value;
        console.log(numberOfLines)
        var container=document.getElementById("line-container");
        while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
        for(i=0;i<numberOfLines;i++){
            container.appendChild(document.createTextNode("Start Point "+(i+1)));
            var input1=document.createElement("input");
            input1.type="number";
            input1.name="start"+i;
            input1.class="form-control"
            container.appendChild(input1);
            var input1a=document.createElement("input");
            input1a.type="number";
            input1a.name="starta"+i;
            input1a.class="form-control"
            container.appendChild(input1a);

            container.appendChild(document.createTextNode("End Point "+(i+1)));
            var input2=document.createElement("input");
            input2.name="end"+i;
            input2.class="form-control"
            container.appendChild(input2);
            var input2a=document.createElement("input");
            input2a.name="enda"+i;
            input2a.class="form-control"
            container.appendChild(input2a);

            container.appendChild(document.createElement("br"));
        }
        }
        
    </script>
  </body>
</html>
