<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />
    <title>People Counter</title>
  </head>
  <body>
    <nav
      class="navbar navbar-light"
      style="
         background-image: linear-gradient(
          to bottom,
          rgb(184, 179, 179),
          rgb(255, 255, 255)
        );
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            class="sheep"
            src="static/images/sheep.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          People Counter
        </a>
      </div>
    </nav>
    <div class="container-daddy">
      <img  class="container-bg" src="static/images/bg2.jpg" alt=""/>
    <div class="container">
      <div class="row video-cont">
        <div class="frame-covering">
          <div class="frame col-lg-8 offset-lg-2">
            <div style="display: inline-block">
              <h2 style="font-size: 2rem; flex: 5; margin: 20px">
                Choose the Counting Method
              </h2>
              <p style="margin: 25px">
                There are two methods for the counting .First one is model
                detecting with tracking and second is contours.In Model
                detection and tracking method first detction is made on frame
                and filtered for persons this detection process is run on every
                7 frame and for rest of the time a traceker is placed based on
                the previous detection and using centroid tracking algorithm
                centroids is calculated for every detection along with distances
                between them and path of these centroids is observed to count
                the person entering and exsiting ,This method is also valid for
                another classe like car etc.so this can also become car counting
                process. The contours method is simple if you know that ther is
                going to be only one type of object then this method is very
                well suited and fastest , it just detect the differnece in frame
                (mask) and provide the boxes of moving object and these boxes
                can be tracked for their direction hence counting process is
                available
              </p>
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <button
                  type="button"
                  style="margin: 10px"
                  onclick="location.href='/detect';"
                  class="btn btn-outline-primary"
                >
                  MobileNet SSD Method
                </button>
                <button
                  type="button"
                  style="margin: 10px"
                  onclick="location.href='/detect-Yolo';"
                  class="btn btn-outline-primary"
                >
                  YOLO Detection Method
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <div class="container">
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </h2>
        <div class="p-div">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
            bibendum neque egestas congue quisque egestas. Odio tempor orci
            dapibus ultrices in iaculis nunc. Faucibus interdum posuere lorem
            ipsum dolor. Amet commodo nulla facilisi nullam vehicula ipsum a
            arcu cursus. Egestas erat imperdiet sed euismod nisi. Est
            ullamcorper eget nulla facilisi. Iaculis urna id volutpat lacus
            laoreet non. Sit amet consectetur adipiscing elit. Nisl vel pretium
            lectus quam id leo in. Neque egestas congue quisque egestas diam in
            arcu. Convallis tellus id interdum velit laoreet id donec.
          </p>
          <img src="static/images/machine-learning.png" width="20%" />
        </div>
      </div>
    </div>
    <div class="p-div">
      <img src="static/images/20945401.jpg" width="20%" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque
        egestas congue quisque egestas. Odio tempor orci dapibus ultrices in
        iaculis nunc. Faucibus interdum posuere lorem ipsum dolor. Amet commodo
        nulla facilisi nullam vehicula ipsum a arcu cursus. Egestas erat
        imperdiet sed euismod nisi. Est ullamcorper eget nulla facilisi. Iaculis
        urna id volutpat lacus laoreet non. Sit amet consectetur adipiscing
        elit. Nisl vel pretium lectus quam id leo in. Neque egestas congue
        quisque egestas diam in arcu. Convallis tellus id interdum velit laoreet
        id donec.
      </p>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
